<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Post edit</title>
  </head>
  <body>
    <h1>Edit Post</h1>
    <p>post id :<%= post.id %></p>
    <p>user name : <%=post.username%></p>
    <form method="post" action="/posts/<%=post.id%>?_method=PATCH">
      <textarea cols="30" rows="10" name="content"><%= post.content %></textarea>
      <button>submit</button>
    </form>
  </body>
</html>
